{% extends 'base.html' %}
{% load static %}

{% block title %}Netflix Clone - Sign Up{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/login.css' %}" />
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="bg-image">
    <div class="auth-header">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" alt="Netflix">
    </div>
    <div class="signup-container">
        <h1>Sign Up</h1>
        {% for message in messages %}
        <div class="error-msg">{{ message }}</div>
        {% endfor %}
        <form action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <input type="email" name="email" placeholder="Email" required />
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="password" name="password2" placeholder="Confirm Password" required />
            <button type="submit" class="signup-btn">Sign Up</button>
        </form>
        <div class="help-text" align="center">
            <span>Already have an account? <a href="{% url 'login' %}">Sign in now</a></span>
        </div>
    </div>
    <div class="auth-footer">
        <a href="#">FAQ</a>
        <a href="#">Help Centre</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy</a>
        <a href="#">Cookie Preferences</a>
        <a href="#">Corporate Information</a>
    </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}
{% block extra_scripts %}{% endblock %}
